spring:
    datasource:
      driver-class-name: com.mysql.cj.jdbc.Driver
      url: jdbc:mysql://localhost:3306/TestManagement?createDatabaseIfNotExist=true
      username: root
      password: 123456@Ab
    jpa:
      show-sql: true
      hibernate:
        ddl-auto: update
    jooq:
      sql-dialect: org.hibernate.dialect.MySQLDialect
server:
    port: 8080
    servlet:
      context-path: /identity

jwt.secret-key: RikkeiAcademy
jwt.expired: 864000000


